.version.index /* version checker */
{
	color: #0000F9;
	background-color: #336CFE;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1028px;
	min-height: 2500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 95px;
	padding-bottom: 20px;
	width: 0.01px;/* should not cover content below */
}

#u4084
{
	z-index: 38;
	width: 399px;
	background-color: transparent;
	margin-left: 315px;
	position: relative;
}

#u4082
{
	z-index: 39;
	display: block;
}

#u3926-4
{
	z-index: 11;
	width: 420px;
	min-height: 34px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 10px;
	line-height: 24px;
	font-size: 20px;
	font-family: poppins, sans-serif;
	font-weight: 700;
	margin-left: 315px;
	margin-top: 22px;
	position: relative;
}

#pu5486-4
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 164px;
}

#u5486-4
{
	z-index: 2;
	width: 215px;
	min-height: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 398px;
	left: 893px;
}

#u5266
{
	z-index: 7;
	height: 323px;
	background: transparent url("../images/shutterstock_374127247.jpg") no-repeat center center;
	background-size: cover;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u5266-bw
{
	z-index: 7;
	margin-top: 1309px;
	height: 323px;
}

#u4061
{
	z-index: 8;
	min-height: 1140px;
	background-color: #FFFFFF;
}

#u4061_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1028px;
	left: -100px;
	padding-top: 81px;
	padding-bottom: 143px;
}

#u3970
{
	z-index: 16;
	width: 300px;
	height: 66px;
	background-color: #000656;
	left: 464px;
	position: relative;
}

#pu4138
{
	width: 0.01px;
	left: 120px;
	margin-top: 86px;
	position: relative;
}

#u4138
{
	z-index: 40;
	width: 641px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 347px;
}

#u4096
{
	z-index: 42;
	width: 988px;
	background-color: #00C784;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 223px;
}

#u4148-4
{
	z-index: 45;
	width: 236px;
	min-height: 77px;
	background-color: transparent;
	line-height: 19px;
	color: #FFFFFF;
	text-align: right;
	font-size: 16px;
	font-family: poppins, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 31px;
}

#u4118
{
	z-index: 43;
	width: 520px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
	left: 311px;
}

#u4155-4
{
	z-index: 49;
	width: 236px;
	min-height: 77px;
	background-color: transparent;
	line-height: 17px;
	color: #323232;
	text-align: justify;
	font-size: 12px;
	font-family: poppins, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 376px;
	left: 31px;
}

#u4158
{
	z-index: 53;
	width: 300px;
	background-color: #000656;
	padding-bottom: 4px;
	left: 431px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u4159-4
{
	z-index: 54;
	width: 298px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 5px;
	line-height: 14px;
	font-size: 12px;
	font-family: poppins, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 1px;
}

#u5208
{
	z-index: 9;
	width: 78px;
	background-color: transparent;
	left: 873px;
	margin-top: 129px;
	position: relative;
}

#u5206
{
	z-index: 10;
	display: block;
}

#pu4944-6
{
	width: 0.01px;
	left: 257px;
	margin-top: 33px;
	position: relative;
}

#u4944-6
{
	z-index: 58;
	width: 115px;
	min-height: 28px;
	background-color: transparent;
	line-height: 12px;
	color: #323232;
	text-align: center;
	font-size: 10px;
	font-family: poppins, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
}

#u4950-4
{
	z-index: 64;
	width: 115px;
	min-height: 28px;
	background-color: transparent;
	line-height: 12px;
	color: #323232;
	text-align: center;
	font-size: 10px;
	font-family: poppins, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	left: 299px;
}

#u5259-4
{
	z-index: 68;
	width: 115px;
	min-height: 28px;
	background-color: transparent;
	line-height: 12px;
	color: #323232;
	text-align: center;
	font-size: 10px;
	font-family: poppins, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	left: 597px;
}

#u4061-bw
{
	z-index: 8;
	min-height: 1140px;
	margin-top: 195px;
}

#u3967
{
	z-index: 15;
	width: 300px;
	height: 66px;
	background-color: #00C784;
	position: relative;
	margin-right: -10000px;
	left: 464px;
}

#u3942
{
	z-index: 17;
	width: 674px;
	-pie-box-shadow: 4px 4px 10px #CCCCCC;
	box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
	background-color: #FFFFFF;
	padding-bottom: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 277px;
}

#u3994
{
	z-index: 18;
	width: 300px;
	background-color: #00C784;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 219px;
	left: 187px;
}

#u3997-4
{
	z-index: 19;
	width: 298px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 5px;
	line-height: 14px;
	font-size: 12px;
	font-family: poppins, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 1px;
}

#u4005-13
{
	z-index: 23;
	width: 366px;
	min-height: 115px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 187px;
}

#u4005-5
{
	color: #323232;
	font-family: poppins, sans-serif;
	font-weight: 400;
}

#u4005
{
	font-family: poppins, sans-serif;
	font-weight: 700;
}

#u4005-2
{
	color: #323232;
	font-family: poppins, sans-serif;
	font-weight: 700;
}

#u4005-3,#u4005-7,#u4005-8
{
	color: #323232;
	font-family: poppins, sans-serif;
	font-weight: 200;
}

#u4005-10
{
	color: #00C784;
	font-family: poppins, sans-serif;
	font-weight: 700;
}

#u4064
{
	z-index: 36;
	width: 389px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -58px;
	left: -126px;
}

#pamphletu4497
{
	z-index: 72;
	width: 0.01px;
	height: 78px;
	padding-bottom: 280px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1070px;
	left: 120px;
}

#u4502
{
	z-index: 73;
	width: 78px;
	position: relative;
	margin-right: -10000px;
	left: 157px;
}

#u4504
{
	position: absolute;
	width: 79px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u4504:hover
{
	-webkit-transition-duration: 0.4s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.4s;
	transition-delay: 0s;
	transition-timing-function: ease;
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u4504.PamphletThumbSelected
{
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u4475
{
	z-index: 75;
	width: 78px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4504:hover #u4475
{
	width: 78px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4504.PamphletThumbSelected #u4475
{
	width: 78px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4473
{
	z-index: 76;
	display: block;
}

#u4485
{
	z-index: 77;
	width: 78px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4504:hover #u4485
{
	background-color: transparent;
	width: 78px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4483
{
	z-index: 78;
	display: block;
}

#u4483:hover
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u4498popup
{
	z-index: 79;
}

#u4501
{
	z-index: 80;
	width: 988px;
	height: 200px;
	background: #000656 url("../images/u4501-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, color-stop(38%, #00C784),to(#000656));
	background: -webkit-linear-gradient(left,#00C784 38%,#000656 );
	background: linear-gradient(to right,#00C784 38%,#000656 );
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4576
{
	z-index: 81;
	width: 68px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 78px;
	left: 157px;
}

#u4574
{
	z-index: 82;
	display: block;
}

#u4584
{
	z-index: 83;
	width: 2px;
	height: 118px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 265px;
}

#u4587-15
{
	z-index: 84;
	width: 343px;
	min-height: 105px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 322px;
}

#u4587-2,#u4587-4,#u4587-5
{
	font-size: 12px;
	line-height: 17px;
	font-family: poppins, sans-serif;
	font-weight: 700;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u5176
{
	z-index: 99;
	width: 78px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1070px;
	left: 575px;
}

#u5174
{
	z-index: 100;
	display: block;
}

#pamphletu4836
{
	z-index: 101;
	width: 0.01px;
	height: 79px;
	padding-bottom: 279px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1070px;
	left: 120px;
}

#u4841
{
	z-index: 102;
	width: 78px;
	position: relative;
	margin-right: -10000px;
	left: 455px;
}

#u4843
{
	position: absolute;
	width: 125px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	left: -23px;
}

#u4843:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u4843.PamphletThumbSelected
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u4902
{
	z-index: 104;
	width: 78px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 23px;
}

#u4843:hover #u4902
{
	-webkit-transition-duration: 0.4s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.4s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-color: transparent;
	width: 78px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4843.PamphletThumbSelected #u4902
{
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-color: transparent;
	width: 78px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4900
{
	z-index: 105;
	display: block;
}

#u4483.PamphletThumbSelected,#u4900:hover
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u4837popup
{
	z-index: 106;
}

#u4840
{
	z-index: 107;
	width: 988px;
	height: 200px;
	background: #000656 url("../images/u4840-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, color-stop(48%, #00C784),to(#000656));
	background: -webkit-linear-gradient(left,#00C784 48%,#000656 );
	background: linear-gradient(to right,#00C784 48%,#000656 );
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4924
{
	z-index: 126;
	width: 49px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
	left: 170px;
}

#u4922
{
	z-index: 127;
	display: block;
}

#u4919
{
	z-index: 128;
	width: 2px;
	height: 118px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 264px;
}

#u4910-5
{
	z-index: 108;
	width: 343px;
	min-height: 105px;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 10px;
	font-family: poppins, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 323px;
}

#u4915
{
	margin-top: 2px;
	margin-bottom: -2px;
}

#u4913-12
{
	z-index: 113;
	width: 343px;
	min-height: 105px;
	background-color: transparent;
	color: #FFFFFF;
}

#pamphletu4953
{
	z-index: 129;
	width: 0.01px;
	height: 78px;
	padding-bottom: 280px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1069px;
	left: 120px;
}

#u4958
{
	z-index: 130;
	width: 78px;
	position: relative;
	margin-right: -10000px;
	left: 753px;
}

#u4960
{
	position: absolute;
	width: 78px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u4960:hover
{
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-color: transparent;
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u4960.PamphletThumbSelected
{
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u5010
{
	z-index: 132;
	width: 78px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4504.PamphletThumbSelected #u4485,#u4960:hover #u5010
{
	background-color: transparent;
	width: 78px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4960.PamphletThumbSelected #u5010
{
	background-color: transparent;
	width: 78px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5008
{
	z-index: 133;
	display: block;
}

#u4900.PamphletThumbSelected,#u5008:hover
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u5008.PamphletThumbSelected
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u4498,#u4837,#u4954
{
	position: absolute;
	width: 988px;
	top: 158px;
}

#u4954popup
{
	z-index: 134;
}

#u4957
{
	z-index: 135;
	width: 988px;
	height: 200px;
	background: #000656 url("../images/u4840-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, color-stop(48%, #00C784),to(#000656));
	background: -webkit-linear-gradient(left,#00C784 48%,#000656 );
	background: linear-gradient(to right,#00C784 48%,#000656 );
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5023
{
	z-index: 137;
	width: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	left: 169px;
}

#u5021
{
	z-index: 138;
	display: block;
}

#u5018
{
	z-index: 136;
	width: 2px;
	height: 118px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 265px;
}

#u5031-5
{
	z-index: 139;
	width: 343px;
	min-height: 105px;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 10px;
	font-family: poppins, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 322px;
}

#u4910,#u5031
{
	font-size: 1px;
	line-height: 0px;
}

#u5032
{
	margin-top: -2px;
	margin-bottom: 2px;
}

#u5033-13
{
	z-index: 144;
	width: 419px;
	min-height: 132px;
	background-color: transparent;
	color: #FFFFFF;
}

#u4913-2,#u4913-3,#u5033-2,#u5033-3
{
	font-size: 14px;
	line-height: 20px;
	font-family: poppins, sans-serif;
	font-weight: 700;
}

#u4587-7,#u4587-9,#u4587-11,#u4587-13,#u4913-5,#u4913-7,#u4913-9,#u4913-10,#u5033-5,#u5033-7,#u5033-9,#u5033-10,#u5033-11
{
	font-size: 10px;
	line-height: 14px;
	font-family: poppins, sans-serif;
	font-weight: 200;
}

#pu5534
{
	width: 0.01px;
	margin-left: -100px;
}

#u5534
{
	z-index: 6;
	min-height: 45px;
	background-color: #FFFFFF;
	padding-bottom: 12px;
}

#u5516-4
{
	z-index: 191;
	width: 214px;
	min-height: 25px;
	background-color: transparent;
	line-height: 11px;
	color: #7F7F7F;
	font-size: 9px;
	font-family: poppins, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 931px;
}

#u5534-bw
{
	z-index: 6;
	min-height: 45px;
	margin-top: 480px;
}

#u5329
{
	z-index: 158;
	min-height: 479.7420000000001px;
	background: -webkit-gradient(linear, left center, right center, from(#00C784),color-stop(100%, #000656));
	background: -webkit-linear-gradient(left,#00C784 ,#000656 100%);
	background: linear-gradient(to right,#00C784 ,#000656 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF00C784, endColorstr=#FF000656, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF00C784', endColorstr='#FF000656', GradientType=1)";
	padding-bottom: 0px;
	background-size: 100% auto;
}

#u5534_align_to_page,#u5329_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1028px;
	left: -100px;
}

#u5329_position_content
{
	margin-top: -45px;
	padding-bottom: 47px;
	width: 100%;
}

#u5311
{
	z-index: 159;
	width: 89px;
	background-color: transparent;
	left: 569px;
	position: relative;
}

#u5309
{
	z-index: 160;
	display: block;
}

#u5336-4
{
	z-index: 161;
	width: 286px;
	min-height: 57px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 5px;
	line-height: 36px;
	font-size: 30px;
	font-family: poppins, sans-serif;
	font-weight: 500;
	left: 471px;
	margin-top: 23px;
	position: relative;
}

#u5339-4
{
	z-index: 165;
	width: 333px;
	min-height: 28px;
	background-color: transparent;
	line-height: 12px;
	color: #FFFFFF;
	text-align: center;
	font-size: 10px;
	font-family: poppins, sans-serif;
	font-weight: 200;
	left: 448px;
	position: relative;
}

#pu5344
{
	width: 0.01px;
	left: 515px;
	margin-top: 35px;
	position: relative;
}

#u5344
{
	z-index: 169;
	width: 68px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5342
{
	z-index: 170;
	display: block;
}

#u5372-8
{
	z-index: 175;
	width: 175px;
	min-height: 44px;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 90px;
}

#u4005-4,#u5372-2,#u5372-4
{
	font-family: poppins, sans-serif;
	font-weight: 200;
}

#u4005-11,#u5372-6
{
	font-family: poppins, sans-serif;
	font-weight: 400;
}

#pu5354
{
	width: 0.01px;
	left: 515px;
	margin-top: 21px;
	position: relative;
}

#u5354
{
	z-index: 171;
	width: 68px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5352
{
	z-index: 172;
	display: block;
}

#u5378-4
{
	z-index: 183;
	width: 111px;
	min-height: 17px;
	background-color: transparent;
	line-height: 14px;
	color: #00C784;
	font-size: 10px;
	font-family: poppins, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 90px;
}

#pu5364
{
	width: 0.01px;
	left: 515px;
	margin-top: 20px;
	position: relative;
}

#u5364
{
	z-index: 173;
	width: 68px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5362
{
	z-index: 174;
	display: block;
}

#u5381-4
{
	z-index: 187;
	width: 111px;
	min-height: 17px;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 10px;
	font-family: poppins, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 90px;
}

#u5329-bw
{
	z-index: 158;
	min-height: 479.7420000000001px;
}

#u5521
{
	z-index: 195;
	width: 83px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 442px;
	left: 1114px;
}

#u5519
{
	z-index: 196;
	display: block;
}

.html
{
	background: #FFFFFF url("../images/encabezado_ingenia.jpg") no-repeat right top fixed;
}

body
{
	position: relative;
	min-width: 1028px;
	padding-top: 24px;
}

